[submodule "submodules/zmce"]
	path = submodules/zmce
	url = https://github.com/j5c8k6m8/zmce.git
[submodule "submodules/markdown-it"]
	path = submodules/markdown-it
	url = https://github.com/markdown-it/markdown-it.git
[submodule "submodules/zenn-editor"]
	path = submodules/zenn-editor
	url = https://github.com/j5c8k6m8/zenn-editor.git
[submodule "books/dead-code-cookbook"]
	path = books/dead-code-cookbook
	url = https://github.com/j5c8k6m8/dead-code-cookbook.git
